<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/lib/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>ng-model con Angular JS</h1>
    <h4>Data bind</h4>

    <div class="container">
    Nombre:{{nombre}}
    <input type="text" class="form-control" ng-model="nombre">
    <br>
    <select class="from control" ng-model="Estado">
        <option value="1"></Aaguscalientes>
        <option value="2"></Durango>
        <option value="3"></Zacatecas>       
    </select>
    <br>
    escoge una opcion: {{opt1}} {{opt2}}
    <br>
    <input type="">
   
</div>
</body>
</html>